<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    /> {{!-- maybe --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> {{> header }}
</head>

<body>

    <br>

    <div class="container-fluid">
        <div class="row">
            {{!-- Left-half side of the page --}}

            <div class="col-6">

                <div class="table-responsive">
                    <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {{!--
                                <th scope="col">ProductId</th> --}}
                                <th scope="col">Quantity</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                {{!--
                                <th scope="col">Description</th> --}}
                                <th scope="col">Category</th>
                                <th scope="col">Add</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                {{#each productTable}} {{!--
                                <td>{{ProductID}}</td> --}}
                                <td>{{Quantity}}</td>
                                <td>{{Name}}</td>
                                <td>{{Size}}</td>
                                {{!--
                                <td>{{Description}}</td> --}}
                                <td>{{Category}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary">button</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                {{!-- Right half side of the page --}} {{!-- SPACE BETWEEN TABLE AND CARD, TODO: FIX --}}
                <div class="card">
                    <div class="card-body">
                        <h4>Customer</h4>

                        <div class="js-example-basic-single" name="test">
                            <option value="dafuq">John Smith - Amazon</option>
                            <option value="herro">Tran Le - Self Employeed</option>
                            <option value="herro">A homeless guy - Crack</option>

                        </div>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered" id="orderTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                {{!--
                                <th scope="col">ProductId</th> --}}
                                <th scope="col">Quantity</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                {{!--
                                <th scope="col">Description</th> --}}
                                <th scope="col">Category</th>
                                <th scope="col">Add</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                {{#each productTable}} {{!--
                                <td>{{ProductID}}</td> --}}
                                <td>{{Quantity}}</td>
                                <td>{{Name}}</td>
                                <td>{{Size}}</td>
                                {{!--
                                <td>{{Description}}</td> --}}
                                <td>{{Category}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="shittyMethod({{ProductID}})">button</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    {{> footer-end }} {{!-- Needed for bootstrap --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="../js/createOrder.js"> </script> {{!-- TEMP --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>

</body>

</html>