<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"
  /> {{> header }}
</head>

<body>
  <div class="container-fluid">
    <br>
    <div class="jumbotron">
      <h1 class="display-3">Warehouse Inventory</h1>
      <p class="lead">Current Stock in the Warehouse</p>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" id="productTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Size</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Retail Price</th>
            <th scope="col">Wholesale Price</th>
            <th scope="col">Adjust Stock</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            {{#each productTable}}
            <td>{{Name}}</td>
            <td>{{Quantity}}</td>
            <td>{{Size}} {{Unit}}</td>
            <td>{{Description}}</td>
            <td>{{Category}}</td>
            <td>{{RetailPrice}}</td>
            <td>{{WholesalePrice}}</td>
            <td>
              <button style="border-radius: 50%" type="button" onclick="increment(document.getElementById('{{ProductID}}').value, {{ProductID}})"
                class="btn btn-primary">+</button>
              <input type="input" id="{{ProductID}}" name="quantity" placeholder="#" maxlength="5" style="width:50px">
              <button style="border-radius: 50%" type="button" onclick="decrement(document.getElementById('{{ProductID}}').value, {{ProductID}})"
                class="btn btn-primary"> &ndash;</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{> footer-end }} {{!-- need to post on every page --}} {{!-- Needed for bootstrap, might be able to move to footer if ordering
  is correct--}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="../js/inventory.js"> </script> {{!-- TEMP --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#productTable').DataTable();
  });
</script>

</html>