<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"
  /> {{!-- Header --}}

  <link rel="stylesheet" type="text/css" href="sidebar.css">

   {{> header }}
</head>

<body>

  <div align="center" class="container">
    <div background-image: "jern2.png" align="center" class="jumbotron">
      <h1 class="display-3">InvenTío</h1>
      <p class="lead">Manage your invetory-- fast.</p>
      <p>
        <a class="btn btn-lg btn-success" href="/login" role="button">Login</a>
      </p>
    </div>
    <div text-align="center"><h1>Our Services to You</h1></div>
    <div text-align="center" class="row marketing">
      <div class="col-lg-6">
        <br>
        <h4>Create New Orders Effortlessly</h4>
          <img src="{{root}}/views/images/createneworder.png" width="100%%" height="350px"/>
        <p>Now, with InvenTío's simple and intuitive order form, you can create <br>
          orders for new and existing customers</p>
            <br>
        <h4>Manage Your Clients with Ease</h4>
        <img src="{{root}}/views/images/newClient.png" width="100%" height="350px"/>
        <p>Provide ultimate customer service and delivery systems by providing the <br>
        best quality assurance through a smart client management system through <br>
      inventio.</p>

      </div>
      <div class="col-lg-6">
        <br>
        <div> </div>
      <h4>Manage Your Finances for Success</h4>
      <img src="{{root}}/views/images/finance.png" width="100%" height="350px"/>
      <p>View your weekly, monthly, daily reports on revenue, expenses, and profits.</p>
        <br>
      <h4>Expand your Business with new Products</h4>
      <img src="{{root}}/views/images/newProd.png" width="100%" height="350px" background-repeat="no-repeat" background-size="cover"/>
      <p>Add new items to your inventory system to continue growing your business</p>
      </div>
    </div>
    {{!-- Container div end --}}
  </div>

  {{> footer-end }} {{!-- need to post on every page --}} {{!-- Needed for bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
    </script>
</body>

</html>
